@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.site-header
		&__menu-content
			nav.primary-nav
				ul
					li
						padding-right: 10px

	.head-picture
		&__content
			margin-top: 35px

	.section-about
		p
			padding-top: 0px

// ≥992px
+media-breakpoint-down(md)
	.head-picture
		&__content
			margin-left: 30px
		&__text-content
			font-size: 30px
			line-height: 41px
			padding: 10px 0px 
			p
				font-size: 24px
				line-height: 31px
			span
				font-size: 30px
				color: $blue
				font-weight: 700
			.btn
				padding: .75rem 1.2rem
				margin-top: 10px
				font-size: 21px
				line-height: 29px
	
	.section-line__right
		margin-right: 40px

	

// ≥768px
+media-breakpoint-down(sm)

	.site-header
		&__menu-content
			.social-info
				ul
					li
						padding-right: 20px
						&:last-child
							padding-right: 50px

	.head-picture
		&__text-content
			font-size: 30px
			line-height: 45px
			padding: 10px 0px 
			p
				font-size: 24px
				line-height: 35px
			span
				font-size: 30px
				color: $blue
				font-weight: 700
			.btn
				padding: .75rem 1.2rem
				margin-top: 20px
				font-size: 22px
				line-height: 29px
	.section-about
		height: 100%
		p
			padding-top: 0px
			padding-bottom: 20px
	.section
		h2.section-title
			font-size: 25px
			font-weight: 100
			text-align: center
			padding-bottom: 20px
			padding-top: 20px
			margin-bottom: 0

	.section-advantages
		padding-bottom: 20px

	

// ≥576px
+media-breakpoint-down(xs)
	.site-header
		&__menu-content
			.social-info
				ul
					margin-left: 50px
					li
						display: block
						margin-right: 20px
						&:last-child
							padding-right: 0px

	.head-picture
		&__content
			margin-left: 0px
		&__text-content
			background-color: rgba($white, .7)

	.section-about
		p
			font-size: 16px
			line-height: 20px
			text-align: center
	.section
		h2.section-title
			font-size: 21px

	.section-advantages
		&__block
			&-description
				width: 300px
			



					





/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
	

// ≤1200px
+media-breakpoint-up(xl)
	.head-picture
		&__text-content
			line-height: 55px
			padding: 60px 0px 
		p
			line-height: 45px



