<!DOCTYPE html>
<html lang="UA">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Online курс Графічний Дизайн | I`mSkill</title>
	<meta name="description" content="Компанія I`mSkill презентує онлайн курс із вивчення графічного дизайну. Програма створена під потреби роботодавців">
	<meta name="keywords" content="онлайн курс, графічний дизайн, дизайн, курси графічного дизайну, курси фотошоп">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	


	


	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<!-- Custom HTML -->
	<!-- START Header -->
	<header class="site-header">
		<div class="container">
			<div class="row">

				<div class=" col-3 col-lg-2">
					<div class="site-header__logo">
						I’mSkill
					</div>
				</div>
				
				<div class="col-lg-6 d-none d-lg-block">
					<div class="site-header__menu-content">

						<nav class="primary-nav">
							<ul>
								<li><a href="#">Про Компанію</a></li>
								<li><a href="#">Про Курс</a></li>
								<li><a href="#">Програма</a></li>
								<li><a href="#">Контакти</a></li>
							</ul>
						</nav>


					</div>
				</div>

				<div class="col-9 col-lg-4 ">
					<div class="site-header__menu-content">
						<div class="social-info ">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
								<li><a href="#"><i class="fas fa-phone-square"></i>063-123-45-67</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Toggle Menu -->
				<button class="toggle-mnu d-block d-lg-none">
					<span class="sandwich"> 
						<span class="sw-topper"></span>
						<span class="sw-bottom"></span>
						<span class="sw-footer"></span>
					</span>
				</button>

				<nav class="top-mnu ">  
					<ul>
						<li><a href="#">Про Компанію</a></li>
						<li><a href="#">Про Курс</a></li>
						<li><a href="#">Програма</a></li>
						<li><a href="#">Контакти</a></li>
					</ul>
				</nav>
				<!-- Toggle Menu -->

			</div>
		</div>
	</header>
	<!-- END Header -->

	<!-- START Main-Content -->
	<div class="head-picture">

		<picture>
			<source srcset="img/head-bg.jpg" media="(min-width: 780px)">
				<source srcset="img/head-bg_small.jpg" media="(min-width: 640px)">
					<source srcset="img/head-bg_smaller.jpg" media="(min-width: 370px)">
						<img class="head-picture__image" src="img/head-bg_more-smaller.jpg" alt="Титульний фон">
					</picture>

					<div class="head-picture__content">

						<div class="container">
							<div class="row">
								<div class="col-12 col-sm-8 offset-sm-4 col-md-8 offset-md-0 col-xl-10">

									<div class="head-picture__text-content">
										<span>Online</span> курс <br>
										<strong>Графічний Дизайн.</strong> <br>
										<p>Програма створена  під потреби роботодавців</p>
										<p><a href="#" class="btn"><strong>Зареєструватись</strong> на <br>
										пробне заняття</a></p>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
				<!-- END Main-Content -->

				<!-- START Section-About -->
				<section class="section section__grey section-about">

					<div class="section-line__right section-line__light"></div>

					<div class="container ">
						<div class="row">
							<div class="col-md-12">

								<h2 class="section-title">Про Компанію</h2>

								<div class="section-about__wrapper">

									<div class="row justify-content-between">
										<div class="col-md-5">
											<p><strong>Ми</strong> - активна <strong>команда</strong>, яка допоможе вам реалізуватись в улюбленій професії. <br>
												<strong>Маємо домовленості</strong> з іт компаніями по всій Україні. <br>
												<strong>Контракти</strong> з кадровими агентствами. <br>
												Лише <strong>топові викладачі</strong>. <br>
												<strong>Випускаємо</strong> не лише із знаннями, але також <strong>із новим робочим місцем в улюбленій сфері</strong>.</p>
											</div>

											<div class="col-md-5">
												<img class="img-responsive" src="img/about_us.jpg" alt="Про нас">
											</div>
										</div>

									</div>


								</div>
							</div>
						</div>
					</section>
					<!-- END Section-About -->

					<!-- START Section-Advantages -->
					<section class="section section__white section-advantages">

						<div class="container ">
							<div class="row">
								<div class="col-md-12">

									<h2 class="section-title">Чому варто обрати саме нас?</h2>
									
									<div class="section-advantages__wrapper">
										<div class="row">
											<div class="col-sm-6 col-md-4">

												<div class="section-advantages__block">
													<div class="section-advantages__block-icon">
														<img src="img/icons/team.png" alt="Команда">
													</div>
													<div class="section-advantages__block-title">Команда</div>
													<div class="section-advantages__block-description"><p>Ми створили курс під потреби роботодавців</p></div>
												</div>

											</div>

											<div class="col-sm-6 col-md-4">

												<div class="section-advantages__block">
													<div class="section-advantages__block-icon">
														<img src="img/icons/schedule.png" alt="Зручний графік">
													</div>
													<div class="section-advantages__block-title">Зручний графік</div>
													<div class="section-advantages__block-description"><p>З 18-21 вт-чт вихідні будуть вільними для відпочинку</p></div>
												</div>

											</div>

											<div class="col-sm-6 col-md-4">

												<div class="section-advantages__block">
													<div class="section-advantages__block-icon">
														<img src="img/icons/meeting.png" alt="Наші партнери">
													</div>
													<div class="section-advantages__block-title">Наші партнери</div>
													<div class="section-advantages__block-description"><p>Кадрові агенства по всій Україні</p></div>
												</div>

											</div>

											<div class="col-sm-6 col-md-4">

												<div class="section-advantages__block">
													<div class="section-advantages__block-icon">
														<img src="img/icons/presentation.png" alt="Сучасна програма">
													</div>
													<div class="section-advantages__block-title">Сучасна програма</div>
													<div class="section-advantages__block-description"><p>Адаптована під тренди теперішнього дизайну</p></div>
												</div>

											</div>

											<div class="col-sm-6 col-md-4">

												<div class="section-advantages__block">
													<div class="section-advantages__block-icon">
														<img src="img/icons/businessman.png" alt="Працевлаштування">
													</div>
													<div class="section-advantages__block-title">Працевлаштування</div>
													<div class="section-advantages__block-description"><p>В інших лише 2% працевлаштованих, а у нас 100%</p></div>
												</div>

											</div>

											<div class="col-sm-6 col-md-4">

												<div class="section-advantages__block">
													<div class="section-advantages__block-icon">
														<img src="img/icons/diploma.png" alt="Сертифікат">
													</div>
													<div class="section-advantages__block-title">Сертифікат</div>
													<div class="section-advantages__block-description"><p>Ми підтверджуємо вашу кваліфікацію</p></div>
												</div>

											</div>


										</div>

									</div>


								</div>
							</div>
						</div>
					</section>
					<!-- END Section-Advantages -->

					<!-- START Section-Design-Advent -->
					<section class="section section__grey section__design-adv">

						<div class="section-line__left section-line__light"></div>

						<div class="container ">
							<div class="row">
								<div class="col-md-12">

									<h2 class="section-title">Чому саме графічний дизайн?</h2>

									<div class="row justify-content-around">
										<div class="col-12 col-sm-6  col-xl-4">
											<div class="col-left">
												<ul>
													<li><i class="fas fa-check"></i>Низький поріг входу</li>
													<li><i class="fas fa-check"></i>Можливість віддаленої роботи</li> 
													<li><i class="fas fa-check"></i>Креативна професія</li>
													<li><i class="fas fa-check"></i>Широкий спекр послуг</li>
												</ul>
											</div>
										</div>

										<div class="col-12 col-sm-6  col-xl-4">
											<div class="col-right">
												<ul>
													<li><i class="fas fa-check"></i>Висока оплата праці</li>
													<li><i class="fas fa-check"></i>Розвиток</li>
													<li><i class="fas fa-check"></i>Легкий перехід у інші сфери</li>
													<li><i class="fas fa-check"></i>Багатообіцяюче майбутне</li>
												</ul>
											</div>
										</div>


									</div>
								</div>
							</div>
						</section>
						<!-- END Section-Design-Advent -->

						<!-- START Section-Consultation_Form -->
						<section class="section section__blue section__consultation-free">

							<div class="container ">
								<div class="row">
									<div class="col-md-12">

										<h2 class="section-title">Отримати безкоштовну консультацію</h2>

										
										<form class="consultation-free" action="https://formspree.io/anatolii.lukavenko@gmail.com" class="consult-form" target="_blank" method="POST" >
											<div class="row ">
												<div class="col-12 col-sm-6  col-lg-3">
													<input class="name-field" type="text" name="Name" placeholder="Ваше ім'я..." data-validation-required-message="You didn`t type a name" required>
												</div>

												<div class="col-12 col-sm-6  col-lg-3">
													<input class="email-field" type="email" name="E-mail" placeholder="E-mail..." data-validation-required-message="You didn`t type an E-mail correct"  required>
												</div>

												<div class="col-12 col-sm-6  col-lg-3">
													<input class="phone-field" type="number" name="Number" placeholder="Номер телефону..." data-validation-required-message="You didn`t type an number correct"  required>
												</div>
												<div class="col-12 col-sm-6  col-lg-3">
													<button class="submit-button consult-form__button "><p>Отримати</p></button>
												</div>

											</div>
										</form>



									</div>
								</div>
							</div>
						</section>
						<!-- END Section-Consultation_Form -->

						<!-- START Section Program & Teacher -->
						<div class="section__wrapper">

							<div class="row no-gutters">
								<div class="col-md-12">

									<div class="row no-gutters">


										<div class="col-md-4">
											<section class="section section__blue section-overley section__teacher" style="background-image: url(img/teacher-bg1.jpg);">

												<div class="section__teacher-content">
													<div class="col-md-10  offset-md-1">

														<h2 class="section-title">Викладач</h2>

														<div class="teacher__photo">
															<img  src="img/lecturer.jpg" alt="Викладач курсу">
														</div>

														<h3 class="teacher__title">Тетяна Синявська</h3> 
														<h4 class="teacher__subtitle">Викладач, фрілансер. Топ 5 на фріланс біржі.</h3> 

														</div>
													</div>
												</section>
											</div>


											<div class="col-md-8">
												<section class="section section__grey section__program">
													<div class="col-md-10  offset-md-1">
														<h2 class="section-title">Програма курсу</h2>
														<div class="section__program-content">
															
															<h4>Вивчатимемо Photoshop інструменти , створюючи листівку та упаковку для реального проекту</h4>
															<ul>
																<li><i class="fas fa-plus"></i>Будемо вивчати з вами композицію</li>
																<li><i class="fas fa-plus"></i>Покажемо як працювати з кольором</li>
																<li><i class="fas fa-plus"></i>Детально розглянемо слої та трансформацію об’єктів</li>

																<h4>Вивчимо типографіку</h4>
																<li><i class="fas fa-plus"></i>action, styles, mockup (розповімо що це на курсі);</li>
																<li><i class="fas fa-plus"></i>підготовка до друку та специфіка збереження інформації для web.</li>

																<h4>Illustrator вивчимо, створюючи логотип та фірмовий стиль, що увійде до вашого порт фоліо</h4>
																<li><i class="fas fa-plus"></i>Створюватимемо айдентику (лого, фірмовий стиль, візитки, бланки, етикетки, банера)</li>

																<h4>Бонусні програми які ми розглянемо, будуть:</h4>
																<li><i class="fas fa-plus"></i>Indesign: базові інструменти, робота з багатосторінковим документом, підготовка до друку. </li>
																<li><i class="fas fa-plus"></i>After Effects Навчимо адаптовувати готові проекти під власні, </li>
																<li><i class="fas fa-plus"></i>Premiere Pro – навчитесь створювати відео</li>
																<h4>Домашнє завдання стане вашим портфоліо</h4>
																
																
															</ul>

														</div>
													</div>
												</section>
											</div>

										</div>


									</div>
								</div>
							</div>
						</div>
						<!-- END Section Program & Teacher -->

						<!-- START Section What you gain -->
						<div class="section__wrapper" >

							<div class="row no-gutters">
								<div class="col-md-12">
									<div class="" style="background-image: url(img/what-gain-bg.jpg);">

										<div class="row no-gutters">


											<div class="col-md-4">
												
											</div>


											<div class="col-md-8">
												<section class="section section__blue-trans section__what-gain">
													<div class="col-md-10  offset-md-1">
														<h2 class="section-title">Що Ви здобудете на нашому курсі</h2>
														<div class="section__program-content">


															<ul>
																<li><i class="fas fa-asterisk"></i>Будете володіти основними редакторами</li>
																<li><i class="fas fa-asterisk"></i>2 місяці практики в реальних проекта</li>
																<li><i class="fas fa-asterisk"></i>Коментарі до ваших домашніх робіт від дизайнера із практикою понад 10 років</li>
																<li><i class="fas fa-asterisk"></i>Портфоліо на самій популярній платформі для фрілансерів</li>
																<li><i class="fas fa-asterisk"></i><strong>Працевлаштуємо</strong></li>
																<li><i class="fas fa-asterisk"></i>Розповімо як на фрілансі шукати проекти, як спілкуватись з замовником та як вийти в топ</li>

															</ul>

														</div>
													</div>
												</section>
											</div>

										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END Section What you gain -->

					<!-- START Section-Employment -->
					<section class="section section__grey section__employment">

						<div class="section-line__right section-line__light"></div>

						<div class="container ">
							<div class="row">
								<div class="col-md-12">

									<h2 class="section-title">Працевлаштування</h2>

									<div class="row justify-content-around">
										<div class="col-md-11">
											<div class="section__employment--content">

												<ul>
													<li><i class="fas fa-star"></i>Ми адаптували програму під вимоги роботодавців, що дасть вам все необхідне для старту кар’єри.
													</li>
													<li><i class="fas fa-star"></i>В інших компаніях працевлаштовуються лише 2 людини з курсу,
													</li> 
													<li><i class="fas fa-star"></i>А ми вас <strong>працевлаштуємо гарантовано</strong>.</li>
													<li><i class="fas fa-star"></i>Дамо вам 2 місяці практики та порт фоліо з 3 проектами і працевлаштуємо
													</li>
													<li><i class="fas fa-star"></i>Навчимо заробляти на фрілансі, де зарплати графічного дизайнера від 500$. Зможете заробляти з любої точки світу. 

													</li>
												</ul>

											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</section>
					<!-- END Section-Employment -->

					<!-- START Section Cost of education -->
					<section class="section section__white section-cost">

						<div class="container ">
							<div class="row">
								<div class="col-md-12">

									<h2 class="section-title">Вартість навчання</h2>
									
									<div class="section-cost__wrapper">
										<div class="row justify-content-around">
											<div class="col-sm-6 col-lg-4">

												<div class="section-cost__block">
													
													<div class="section-cost__block-title">Пробне заняття</div>

													<div class="section-cost__block-content">

														<div class="section-cost__block-content--title">
															Термін навчання
														</div>
														<p>1 заняття</p>
														<div class="section-cost__block-content--title">
															Графік занятть
														</div>
														<p>Визначається із адміністратором по набору на курс</p>
														<div class="section-cost__block-content--title">
															Вартість навчання
														</div>
														<div class="cost-text">Безкоштовно</div>
														<a href="#" class="btn__register">Зареєструватись</a>

													</div>


												</div>

											</div>



											<div class="col-sm-6 col-lg-4">

												<div class="section-cost__block">
													
													<div class="section-cost__block-title">Стандартний курс</div>

													<div class="section-cost__block-content">

														<div class="section-cost__block-content--title">
															Термін навчання
														</div>
														<p>2 місяці</p>
														<div class="section-cost__block-content--title">
															Графік занятть
														</div>
														<p>З 18-21 вт-чт вихідні будуть вільними для відпочинку</p>
														<div class="section-cost__block-content--title">
															Вартість навчання
														</div>
														<div class="cost-price--old">Стара ціна - 6000 грн</div>
														<div class="cost-price--new">Актуальна ціна - 3500 грн</div>
														<a href="#" class="btn__register">Зареєструватись</a>

													</div>


												</div>

											</div>


											


										</div>
									</div>

								</div>
							</div>

							<div class="col-sm-12 ">
								<div class="section-cost__addition-text">
									<p>
										Додаткові знижки для малозабезпечених сімей. Деякий відсоток від курсу піде на подарунки дітям сиротам.
									</p>
								</div>
							</div>

						</div>
					</section>
					<!-- END Section Cost of education -->










					<script src="js/scripts.min.js"></script>


				</body>
				</html>
