<!DOCTYPE html>
<html lang="UA">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Online курс Графічний Дизайн | I`mSkill</title>
	<meta name="description" content="Компанія I`mSkill презентує онлайн курс із вивчення графічного дизайну. Програма створена під потреби роботодавців">
	<meta name="keywords" content="онлайн курс, графічний дизайн, дизайн, курси графічного дизайну, курси фотошоп">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	


	


	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<!-- Custom HTML -->
	<header class="site-header">
		<div class="container">
			<div class="row">

				<div class=" col-3 col-lg-2">
					<div class="site-header__logo">
						I’mSkill
					</div>
				</div>
				
				<div class="col-lg-6 d-none d-lg-block">
					<div class="site-header__menu-content">

						<nav class="primary-nav">
							<ul>
								<li><a href="#">Про Компанію</a></li>
								<li><a href="#">Про Курс</a></li>
								<li><a href="#">Програма</a></li>
								<li><a href="#">Контакти</a></li>
							</ul>
						</nav>


					</div>
				</div>

				<div class="col-9 col-lg-4 ">
					<div class="site-header__menu-content">
						<div class="social-info ">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
								<li><a href="#"><i class="fas fa-phone-square"></i>063-123-45-67</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Toggle Menu -->
				<button class="toggle-mnu d-block d-lg-none">
					<span class="sandwich"> 
						<span class="sw-topper"></span>
						<span class="sw-bottom"></span>
						<span class="sw-footer"></span>
					</span>
				</button>

				<nav class="top-mnu ">  
					<ul>
						<li><a href="#">Про Компанію</a></li>
						<li><a href="#">Про Курс</a></li>
						<li><a href="#">Програма</a></li>
						<li><a href="#">Контакти</a></li>
					</ul>
				</nav>
				<!-- Toggle Menu -->

			</div>
		</div>
	</header>


	<div class="head-picture">

		<picture>
			<source srcset="img/head-bg.jpg" media="(min-width: 780px)">
				<source srcset="img/head-bg_small.jpg" media="(min-width: 640px)">
					<source srcset="img/head-bg_smaller.jpg" media="(min-width: 370px)">
						<img class="head-picture__image" src="img/head-bg_more-smaller.jpg" alt="Титульний фон">
					</picture>

					<div class="head-picture__content">

						<div class="container">
							<div class="row">
								<div class="col-12 col-sm-8 offset-sm-4 col-md-8 offset-md-0 col-xl-10">

									<div class="head-picture__text-content">
										<span>Online</span> курс <br>
										<strong>Графічний Дизайн.</strong> <br>
										<p>Програма створена  під потреби роботодавців</p>
										<p><a href="#" class="btn"><strong>Зареєструватись</strong> на <br>
										пробне заняття</a></p>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>

				<section class="section section__grey section-about">

					<div class="section-line__right section-line__light"></div>

					<div class="container ">
						<div class="row">
							<div class="col-md-12">

								<h2 class="section-title">Про Компанію</h2>

								<div class="row justify-content-between">
									<div class="col-md-5">
										<p>Ми - активна команда, яка допоможе вам реалізуватись в улюбленій професії. <br>
											Маємо домовленості з іт компаніями по всій Україні. <br>
											Контракти з кадровими агентствами. <br>
											Лише топові викладачі. <br>
										Випускаємо не лише із знаннями, але також із новим робочим місцем в улюбленій сфері.</p>
									</div>

									<div class="col-md-5">
										<img class="img-responsive" src="img/about_us.jpg" alt="Про нас">
									</div>
								</div>


							</div>
						</div>
					</div>
				</section>


				<section class="section section__white section-advantages">

					<div class="container ">
						<div class="row">
							<div class="col-md-12">

								<h2 class="section-title">Чому варто обрати саме нас?</h2>

								<div class="row">
									<div class="col-md-4">

										<div class="section-advantages__block">
											<div class="section-advantages__block-icon">
												<img src="img/icons/team.png" alt="Команда">
											</div>
											<div class="section-advantages__block-title">Команда</div>
											<div class="section-advantages__block-description"><p>Ми створили курс під потреби роботодавців</p></div>
										</div>

									</div>

									<div class="col-md-4">

										<div class="section-advantages__block">
											<div class="section-advantages__block-icon">
												<img src="img/icons/schedule.png" alt="Зручний графік">
											</div>
											<div class="section-advantages__block-title">Зручний графік</div>
											<div class="section-advantages__block-description"><p>З 18-21 вт-чт вихідні будуть вільними для відпочинку</p></div>
										</div>

									</div>

									<div class="col-md-4">

										<div class="section-advantages__block">
											<div class="section-advantages__block-icon">
												<img src="img/icons/meeting.png" alt="Наші партнери">
											</div>
											<div class="section-advantages__block-title">Наші партнери</div>
											<div class="section-advantages__block-description"><p>Кадрові агенства по всій Україні</p></div>
										</div>

									</div>

									<div class="col-md-4">

										<div class="section-advantages__block">
											<div class="section-advantages__block-icon">
												<img src="img/icons/presentation.png" alt="Сучасна програма">
											</div>
											<div class="section-advantages__block-title">Сучасна програма</div>
											<div class="section-advantages__block-description"><p>Адаптована під тренди теперішнього дизайну</p></div>
										</div>

									</div>

									<div class="col-md-4">

										<div class="section-advantages__block">
											<div class="section-advantages__block-icon">
												<img src="img/icons/businessman.png" alt="Працевлаштування">
											</div>
											<div class="section-advantages__block-title">Працевлаштування</div>
											<div class="section-advantages__block-description"><p>В інших лише 2% працевлаштованих, а у нас 100%</p></div>
										</div>

									</div>

									<div class="col-md-4">

										<div class="section-advantages__block">
											<div class="section-advantages__block-icon">
												<img src="img/icons/diploma.png" alt="Сертифікат">
											</div>
											<div class="section-advantages__block-title">Сертифікат</div>
											<div class="section-advantages__block-description"><p>Ми підтверджуємо вашу кваліфікацію</p></div>
										</div>

									</div>

									



									
								</div>


							</div>
						</div>
					</div>
				</section>










				<script src="js/scripts.min.js"></script>


			</body>
			</html>
