<!DOCTYPE html>
<html lang="UA">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Online курс Графічний Дизайн | I`mSkill</title>
	<meta name="description" content="Компанія I`mSkill презентує онлайн курс із вивчення графічного дизайну. Програма створена під потреби роботодавців">
	<meta name="keywords" content="онлайн курс, графічний дизайн, дизайн, курси графічного дизайну, курси фотошоп">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<!-- Custom HTML -->
	<header class="site-header">
		<div class="container">
			<div class="row">

				<div class="col-md-3">
					<div class="site-header__logo">
						I’mSkill
					</div>
				</div>
				
				<div class="col-md-9">
					<div class="site-header__menu-content">

						<nav class="primary-nav">
							<ul>
								<li><a href="#">Про Компанію</a></li>
								<li><a href="#">Про Курс</a></li>
								<li><a href="#">Програма</a></li>
								<li><a href="#">Контакти</a></li>
							</ul>
						</nav>

						<div class="social-info">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
								<li><a href="#"><i class="fas fa-phone-square"></i>063-123-45-67</a></li>
							</ul>
						</div>

					</div>
				</div>


			</div>
		</div>
	</header>

	<div class="head-picture">
		<img class="head-picture__image" src="img/head-bg.jpg" alt="Титульний фон">

		<div class="head-picture__content">
			<div class="container">
				<div class="row">
					<div class="col-md-8">

						<div class="head-picture__text-content">
							<span>Online</span> курс <br>
							<strong>Графічний Дизайн.</strong> <br>
							<p>Програма створена під потреби роботодавців</p>
							<p><a href="#" class="btn"><strong>Зарейструватись</strong> на <br>
							пробне заняття</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>



	

	<script src="js/scripts.min.js"></script>

</body>
</html>
